/* Responsive for larger screens */
@media (min-width: 768px) {
    #menu {
        display: none ;
      }
    
      h1 {
        font-size: 2.5rem;
        margin-left: 0;
        text-align: center;
      }
    
 
    
      #menu {
        display: none;
      
      }
    
      .navigation {
        flex-direction: row; 
    
      }
    
      .navigation a {
        display: flex   ;
      
      }
    nav ul {
      display: flex;
      justify-content: center;
      gap: 1rem;
     
    }
  
    .spotlight-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .hero-text h2 {
      font-size: 3rem;
    }
  
    .hero-text p {
      font-size: 1.5rem;
    }
    /* Header layout */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
  }
  
  header h1 {
    font-size: 2rem;
  }
  
  nav {
    flex: 1;
  }
  
  nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    list-style: none;
  }
  
  nav li a {
    color: white;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  nav li a:hover {
    color: var(--secondary-color);
  }
  
  /* Hero becomes a two-column layout */
  .hero {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
  }
  
  .hero img {
    width: 50%;
    border-radius: 10px;
  }
  
  .hero-text,h2 {
    position: static;
    transform: none;
    text-align: left;
    color: var(--primary-color);
    text-shadow: none;
    text-align: center;
  }
  
  /* CTA Button centered with padding */
  .cta {
    text-align: center;
    padding: 2rem 0;
  }
  
  /* Grid layout for weather and events */
  section.weather,
  section.events {
    display: inline-block;
    width: 48%;
    vertical-align: top;
  }
  
  section.weather {
    margin-right: 2%;
  }
  

  .spotlights {
    margin-top: 2rem;
  }
  
  .spotlight-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  /* /* Discover  */
  .discover-layout {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1.5rem;
  }

  .highlights-grid {
    grid-template-columns: 1fr 1fr;
  }

  .full-width {
    grid-column: span 2;
  }
  .photo-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
  }

  .photo-gallery img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  


  .photo-gallery .center {
    grid-column: auto;
    grid-row: auto;
  }
  .form-benefits-wrapper {
    flex-direction: row;
    align-items: stretch;
  }
  
  }
  




