/* Header Styles */
header {
    background-color: #2C3E50; /* Darker header background */
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    font-size: 1.8rem;
  }
  
  /* Navigation Styles */
  nav {
    margin-top: 10px;
  }
  
  .navigation {
    list-style-type: none;
    padding: 0;
    text-align: center; /* Center align the navigation */
  }
  
  .navigation li {
    display: inline;
    margin: 0 15px;
  }
  
  .navigation li a {
    color: #fff; /* White text color */
    text-decoration: none;
    font-size: 1.1rem;
    padding: 5px 10px;
  }
  
  .navigation li a:hover {
    background-color: #E67E22; /* Orange hover background */
    border-radius: 5px;
  }
  
  /* Form Styles */
  main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    margin: 10px 0 5px;
  }
  
  form input, form button {
    padding: 10px;
    margin: 5px 0 15px;
  }
  
  form button {
    background-color: #2C3E50; /* Matching button color with header */
    color: white;
    border: none;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #E67E22; /* Orange hover background for button */
  }
  
  /* Footer Styles */
  footer {
    background-color: #2C3E50; /* Matching footer with header */
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  footer p {
    margin: 0;
  }
  
  footer span {
    font-weight: bold;
  }
  