:root {
    --primary-bg: #F4F4F4;
    --form-bg: white;
    --primary-color: #2C3E50;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-bg);
    color: var(--primary-color);
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    text-align: center;
}

form {
    background-color: var(--form-bg);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input[type="text"], input[type="password"], input[type="email"], input[type="range"] {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button[type="submit"] {
    background-color:var(--primary-color);
    color: white;
    padding: 0.8rem;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #D35400;
}
