
@media screen and (min-width: 768px) {
  #menu {
		display: none; /* hide hamburger button */
	}


    nav ul {
   
        justify-content: space-around;
        flex-direction: row; 
        text-align: center; 
         margin: 0.5rem 0; 
    }    

    main {
        grid-template-columns: 2fr 1fr;
        
      }
    
      .learning-activities {
        grid-column: 1;
      }
      .info {
        grid-column: 2;
      }
    
      header {
        
        flex-direction: row;
        align-items: center; 
      }
    
    
    .profile-header {
      gap: 2rem;
      padding: 1.5rem;
    }
  
    .profile-header img {
      width: 100px;
      height: 100px;
    }
  
    .profile-header .student-name {
      font-size: 1.8rem;
    }
    h1 {
      font-size: 2.5rem;
      margin-left: 0;
      text-align: center;
    }
    
    h2 {
      font-size: 2rem;
      text-align: center;
    }
  
    #menu {
      display: none; /* hide hamburger button */
    }
  
    .navigation {
      flex-direction: row;
    }
  
    .navigation a {
      display: block;
      flex: 1 1 100%;
    }
   
  }
  